/* #upload-images {
} */

.form {
    height: 50px;
}

mat-spinner {
    height: 200px;
}

.d-content {
    height: 300px;
}

.center {
    margin: auto;
    width: 85%;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.progress {
    height: 200px;
    background-color: #fff;
}

.failed {
    background-color: #fff;
    width: 75%;
    height: auto;
}
