


<p><button mat-raised-button color="warning" (click)="backToMap()" id="back-to-map">Back to map</button></p>
<div class="jumbotron">
    <p class="display-1">Gallery</p>
</div>

  <div *ngIf="project$ | async as project">
    <div>
      <h3 class="text-center">{{ project.data.name }}</h3>
      <p class="text-center lead">{{project.data.description}}</p> <br/>
    </div>
    <mat-grid-list cols="3" rowHeight="2:1" gallerize gutterSize = '5px' id="gallery">
        <mat-grid-tile
            *ngFor="let image of project.data.photos"
            [style.background]="blue">
          <img src ='./images/projects/{{image.project_id}}/{{image.image}}' class="project-image" layout-fill>
          <mat-grid-tile-footer> 
                <span class="image-name">{{image.description}}</span>
          </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
  </div>
