<!--The content below is only a placeholder and can be replaced.-->
<div class="heading">
  <h2>
    Explore {{ title }}!
  </h2>
</div>


<div class="action-area justify-content-end">

  <button *ngIf="!isAuthenticated" mat-stroked-button color="primary" (click)="openLoginModal()">Admin</button>
  <div *ngIf="isAuthenticated">
    <button mat-stroked-button color="primary" (click)="openRegisterModal()">Add a user</button>
    <button mat-stroked-button color="primary" (click)="onLogout()">Logout</button>
  </div>
</div>

<router-outlet class="container"></router-outlet>

